body{
    font-family: Arial, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background-color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 10px;   
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h1{
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
    margin: 16px 0 10px;;
}

.card p{
    color: hsl(216, 15%, 48%);
    font-size:0.9rem;
    margin: 0 0 16px;
}

@media(min-width:1440px) {
    .card{
        width: 400px;
        padding:2rem;
    }

    .card h1{
        font-size: 1.5rem;
    }

    .card p{
        font-size: 1rem;
    }
}