.attribution {
    font-size: 11px;
    text-align: center;
    }
.attribution a{
    color: hsl(228,45%,44%)
}

body{
    background-size:  cover;
    background-repeat: no-repeat;
    background-color:  white;
    padding: 30px;

}
h2{
    color:hsl(14, 45%, 36%);
}


h3{
    color:hsl(332, 51%, 32%);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: none;
}

.box{
    width: 950px;
    height: 180px;
    background-color: hsl(330, 100%, 98%);
    border: 5px;
    border-radius: 20px;
}

li{
    padding-bottom: 10px;
}
li em{
    font-weight:bold;
}


h2+ul,ol{
    border-bottom: 3px solid hsl(30, 18%, 87%);
    padding-bottom: 3rem;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table th,table td{
    border-bottom: 3px solid hsl(30, 18%, 87%);
    padding: 8px;
}
td{
    text-align: center;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}
th{
    font-weight: normal;
    text-align: left;
}
tr:last-child th,tr:last-child td{
border-bottom:  none;
padding-bottom: 50px;
}